// region Spacing

// Each breakpoint is divisible by 12 and 16
$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 960px,
	xl: 1152px,
	xxl: 1344px
) !default;

// The spacer count isn't configurable because TorchUI's intended use case is for building Blazor plugins
// so distributed code will be counting on this to stay the same
$spacer-count: 16;

// The spacer size IS configurable, however
$spacer-size: 4px !default;

// endregion

// region Typography

$font-family: Montserrat, sans-serif !default;

// endregion
