# IDE
**/.idea/
*.iml
*.sln.ide
_ReSharper.*
*.user
*.suo
.vs/
.vscode/
*.DotSettings

# .NET
[Oo]bj/
[Bb]in/
[Bb]uild/
.nuget/
*.log

**/coverage.xml
**/coveragereport

# Client
node_modules
package-lock.json

logs
.log*

dist/
*.js
*.css
*.map

# OS
.DS_Store