@use 'sass:math';
@use '../mixins';
@use '../variables';

$columns: 12;

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
}

@include mixins.responsive() using ($infix) {
	.col#{$infix} {
		flex: 1 0 0;
	}

	.col#{$infix}-auto {
		flex: 0 0 auto;
		width: auto;
	}

	@for $i from 0 through $columns {
		.col#{$infix}-#{$i} {
			flex: 0 0 auto;
			width: #{math.div($i, $columns) * 100}#{'%'};
		}
	}
}
